body {
    background-image: url("../images/background.svg");
    color: white;
}

.fullCenterH1 {
    position: absolute;
    left: 50%;
    top: 40%;
    -webkit-transform: translate(-40%, -40%);
    transform: translate(-40%, -40%);
}

.fullCenterH5 {
    position: absolute;
    left: 51%;
    top: 45%;
    -webkit-transform: translate(-45%, -45%);
    transform: translate(-45%, -45%);
}
